* {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-decoration: none;
  color: var(--color-Trout);
  font-family: "OpenSans", sans-serif;
}

span {
  color: var(--color-SummerSky);
}

@font-face {
  font-display: swap;
  font-family: "BebasNeueBold";
  font-weight: 400;
  src: url("../../fonts/BebasNeueBold.woff2") format("woff2"), url("../../fonts/BebasNeueBold.woff") format("woff");
}
@font-face {
  font-display: swap;
  font-family: "OpenSans";
  font-weight: 400;
  src: url("../../fonts/OpenSans-Regular.woff2") format("woff2"), url("../../fonts/OpenSans-Regular.woff") format("woff");
}
@font-face {
  font-display: swap;
  font-family: "OpenSans";
  font-weight: 700;
  src: url("../../fonts/OpenSans-Bold.woff2") format("woff2"), url("../../fonts/OpenSans-Bold.woff") format("woff");
}
:root {
  --color-White: #FFFFFF;
  --color-Trout: #48555B;
  --color-SummerSky: #16ACE8;
  --color-BlackPearl: #171819;
  --color-BlackPearl2: #141A20;
  --color-Whisper: #E6E6E6;
}

.header {
  position: relative;
  height: 100vh;
  background-image: url("../images/header.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.header__content {
  text-align: center;
}
.header__content-logo {
  position: absolute;
  height: 23px;
  top: 40px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
.header__content-img {
  height: 23px;
}
.header__content-title {
  padding: 381px 0 0;
  color: var(--color-White);
  font-family: "BebasNeueBold", sans-serif;
  font-size: 60px;
  font-weight: 400;
  letter-spacing: 5.71px;
  text-align: center;
  text-transform: uppercase;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}
.header__content-text {
  color: var(--color-White);
  font-size: 16px;
  font-weight: 400;
  text-align: center;
}
.header__content-span {
  padding: 221px 0 71px 0;
  text-align: center;
  color: var(--color-White);
  font-size: 11px;
  letter-spacing: 5.71px;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
}

.konstrukt {
  padding: 25px 0 24px 0;
  border: 1px solid var(--color-Whisper);
}
.konstrukt__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 450px;
}
.konstrukt__img {
  height: 18px;
}

.about {
  padding: 57px 0 120px 0;
}
.about__title {
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 2.31px;
  text-align: center;
  text-transform: uppercase;
  position: relative;
  padding-bottom: 10px;
}
.about__title::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 50px;
  border-bottom: 2px solid var(--color-SummerSky);
}
.about__content {
  margin-top: 90px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 92px;
}
.about__content-text {
  width: 405px;
}
.about__content-text1 {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 30px;
}
.about__content-text2 {
  font-size: 13px;
  font-weight: 400;
  line-height: 23px;
  letter-spacing: 0.19px;
}
.about__content-imgs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 15px;
}
.about__content-imgs li {
  position: relative;
}
.about__content-img {
  width: 140px;
  height: 224px;
}
.about__content-title {
  position: absolute;
  width: 68px;
  height: 58px;
  left: 14px;
  right: 58px;
  top: 15px;
  bottom: 151px;
  font-size: 24px;
  line-height: 29px;
  letter-spacing: 0.19px;
  color: var(--color-White);
  text-transform: uppercase;
}

.services {
  padding-bottom: 115px;
}
.services__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 78px;
}
.services__content-title {
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 2.31px;
  text-transform: uppercase;
  position: relative;
  padding: 0 155px 10px 0;
}
.services__content-title::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  width: 50px;
  border-bottom: 2px solid var(--color-SummerSky);
}
.services__content-text {
  width: 405px;
  font-size: 11px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0.2px;
  padding-right: 32px;
}
.services__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 28px;
}
.services__item {
  padding: 38px 22px;
  width: 255px;
  border: 1px solid var(--color-Whisper);
}
.services__item-img {
  margin-bottom: 25px;
}
.services__item-title {
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  margin-bottom: 13px;
}
.services__item-text {
  font-size: 13px;
  font-weight: 400;
  line-height: 23px;
  letter-spacing: 0.19px;
}

.build {
  padding: 120px 0 307px 0;
  position: relative;
  background-image: url("../images/bg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.build__title {
  margin-bottom: 35px;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: 0.15px;
  text-align: center;
}

.newsletter {
  padding: 30px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: var(--color-BlackPearl);
}
.newsletter__text {
  padding-right: 70px;
  font-size: 22px;
  font-weight: 700;
  letter-spacing: 0.85px;
  text-align: center;
  color: var(--color-White);
}
.newsletter__input {
  padding: 11px 98px 10px 16px;
  font-size: 14px;
  font-weight: 400;
  line-height: -1px;
  letter-spacing: 0.07px;
}
.newsletter__button {
  padding: 11px 48px;
}

.footer {
  padding: 42px 0 48px 0;
  background-color: var(--color-BlackPearl2);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 58px;
}
.footer__company {
  width: 250px;
}
.footer__company-title {
  font-size: 11px;
  font-weight: 400;
  letter-spacing: 0.85px;
  color: var(--color-White);
  text-transform: uppercase;
  margin-bottom: 20px;
}
.footer__company-img {
  height: 23px;
}
.footer__company-text {
  font-size: 11px;
  font-weight: 400;
  line-height: 19px;
  color: var(--color-White);
  margin-top: 15px;
}
.footer__links-title {
  font-size: 11px;
  font-weight: 400;
  letter-spacing: 0.85px;
  color: var(--color-White);
  text-transform: uppercase;
  margin-bottom: 10px;
}
.footer__links-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 36px;
}
.footer__links-item {
  font-size: 11px;
  font-weight: 400;
  line-height: 25px;
  letter-spacing: 0.85px;
  color: var(--color-White);
  text-transform: uppercase;
}
.footer__contact {
  width: 141px;
}
.footer__contact-title {
  font-size: 11px;
  font-weight: 400;
  letter-spacing: 0.85px;
  color: var(--color-White);
  text-transform: uppercase;
  margin-bottom: 15px;
}
.footer__contact-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 11px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0.85px;
}
.footer__contact-address {
  color: var(--color-White);
  margin-bottom: 15px;
}
.footer__contact-phone {
  color: var(--color-White);
  margin-bottom: 15px;
}
.footer__contact-email {
  color: var(--color-White);
}
.footer__socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 15px;
}
.footer__socials-logo img {
  -webkit-filter: brightness(0) invert(1);
          filter: brightness(0) invert(1);
  border: 1px dashed var(--color-White);
}

.policy {
  padding: 22px 0;
  background-color: var(--color-BlackPearl);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 5px;
}
.policy__icon {
  color: var(--color-White);
}
.policy__text {
  font-size: 11px;
  font-weight: 400;
  letter-spacing: 0.85px;
  color: var(--color-White);
}

.konstrukt__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 40px;
}
.konstrukt__link-item {
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 1.09px;
  text-align: center;
  text-transform: uppercase;
}
.konstrukt__link-item:hover {
  color: var(--color-SummerSky);
}

button {
  padding: 11px 29px;
  background: var(--color-SummerSky);
  text-transform: uppercase;
  color: var(--color-White);
  border: none;
}