.about{
    padding: 57px 0 120px 0;
    &__title{
        font-size: 18px;
        font-weight: 700;
        letter-spacing: 2.31px;
        text-align: center;
        text-transform: uppercase;
        position: relative;
        padding-bottom: 10px;
        &::after{
            content: '';
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
            margin: auto;
            width: 50px;
            border-bottom: 2px solid var(--color-SummerSky);
            }
        }
    &__content {
        margin-top: 90px;
        display: flex;
        justify-content: center;
        gap: 92px;
        &-text{
            width: 405px;
        }
        &-text1{
            font-size: 20px;
            font-weight: 700;
            margin-bottom: 30px;
        }
        &-text2{
            font-size: 13px;
            font-weight: 400;
            line-height: 23px;
            letter-spacing: 0.19px;
        }
        &-imgs{
            display: flex;
            gap: 15px;
        }
        &-imgs li {
            position: relative;
        }
        &-img{
           
            width: 140px;
            height: 224px; 
        }
        &-title{
            position: absolute; 
            width: 68px;
            height: 58px;
            left: 14px;
            right: 58px;
            top: 15px;
            bottom: 151px;
            font-size: 24px;
            line-height: 29px;
            letter-spacing: 0.19px;
            color: var(--color-White);
            text-transform: uppercase;
        }
     }
    }

